[{
  "id": "be126816-8632-11e7-8664-600308a19290",
  "type": "customer",
  "name": "user0",
  "status": "normal",
  "content": {}
},{
  "id": "be126816-8632-11e7-8664-600308a19290",
  "type": "customer",
  "name": "user1",
  "status": "normal",
  "content": {}
}]
