# 换衣申请（试衣间设备发往服务器）
{
    "id": 1,
    "type": "req_exchange",
    "body": {
        "main_id": "c73d688c-8632-11e7-b4d7-600308a19290",      # 显示的主单品
        "sku_id": "c73d688c-8632-11e7-b4d7-600308a19290"        # 请求更新的单品货号
    }
}

# 换衣申请（服务器发往手持设备）
{
    "id": 1,
    "type": "req_exchange",
    "body": {
        "device_id": "c73d688c-8632-11e7-b4d7-600308a19291",    # 申请换衣的设备ID
        "main_id": "c73d688c-8632-11e7-b4d7-600308a19290",      # 试衣间显示的哪个单品，店员查找单品时用不到，需要在换衣响应的消息里一起传回去
        "sku_id": "c73d688c-8632-11e7-b4d7-600308a19290",       # 请求更换的单品货号
        "space": "3"                                            # 哪个试衣间
    }
}

# 服务器回执（服务器返回给设备的消息，说明id为1的消息已经收到了）
{
    "id": 1,
    "type": "server_ack",
    "body": {
        "result": "ok",         # ok, error
        "message": ""           # error会给错误信息
    }
}

# 设备回执（设备返回给服务器的消息，说明id为1的消息已经收到了）
{
    "id": 1,
    "type": "client_ack",
    "body": {
        "result": "ok",         # ok, error
        "message": ""           # error会给错误信息
    }
}

# 换衣响应（手持设备发往服务器，服务器转发到试衣间设备）
{
    "id": 1,
    "type": "rsp_exchange",
    "body": {
        "device_id": "c73d688c-8632-11e7-b4d7-600308a19290",        # 换衣请求消息里带的那个device_id，需要一起传回去，用于服务器判断是哪台设备发的换衣请求
        "main_id": "c73d688c-8632-11e7-b4d7-600308a19290",          # 换衣申请消息里的main_id，不做修改直接回传
        "sku_id": "c73d688c-8632-11e7-b4d7-600308a19290",           # 请求更换的单品货号，不做修改直接回传
        "status": "soldout"                                         # 单品状态。soldout, delivering, delivered
    }
}

# 请求试衣间列表（手持设备发往服务器，要求列出所有试衣间及关联状态）
{
    "id": 1,
    "type": "ls_space",
    "body": {
        "space_type": "dressing_room"                               # 请求列出的空间类型
    }
}

# 返回所有试衣间（服务器发往手持设备）
{
    "id": 1,
    "type": "server_ack",
    "body": {
        "spaces": [
            {
                "device_id": "c73d688c-8632-11e7-b4d7-600308a19290",    # 空间设备ID
                "space": "1",                                           # 空间名字
                "status": "bound"                                       # 绑定状态
            },
            {
                "device_id": "c73d688c-8632-11e7-b4d7-600308a19290",
                "space": "2",
                "status": "unbound"
            },
            {
                "device_id": "c73d688c-8632-11e7-b4d7-600308a19290",
                "space": "3",
                "status": "unbound"
            },
            {
                "device_id": "c73d688c-8632-11e7-b4d7-600308a19290",
                "space": "1",
                "status": "unbound"
            },
            {
                "device_id": "c73d688c-8632-11e7-b4d7-600308a19290",
                "space": "1",
                "status": "unbound"
            },
            {
                "device_id": "c73d688c-8632-11e7-b4d7-600308a19290",
                "space": "1",
                "status": "unbound"
            }
        ]
    }
}

# 关联试衣间（手持设备发往服务器，用于关联选定的试衣间，要不要加员工id还没想好。。。）
{
    "id": 1,
    "type": "bind_space",
    "body": {
        "spaces": [
            "c73d688c-8632-11e7-b4d7-600308a19293",
            "c73d688c-8632-11e7-b4d7-600308a19294",
            "c73d688c-8632-11e7-b4d7-600308a19295",
        ]
    }
}


# 测试消息
{
    "id": 1,
    "type": "test",
    "body": {
        "device_id": "c73d688c-8632-11e7-b4d7-600308a19295"             # 要发给哪台设备，设备ID
    }
}

