[{
  "id": "be126816-8632-11e7-8664-600308a19290",
  "author_id": "c73d688c-8632-11e7-b4d8-600308a19290",
  "type": "fitting_room",
  "name": "第一试衣间",
  "slug": "fitting_room_1",
  "status": "empty",
  "title": "",
  "description": "",
  "content": {"items": [

  ]},
  "parent_id": "c73d688c-8632-11e7-b4d7-600308a19290",
  "created_at": "2016-02-28T16:41:41.090Z",
  "updated_at": "2016-02-28T16:41:41.090Z",
  "published_at": "2016-02-28T16:41:41.090Z",
  "deleted_at": "2016-02-28T16:41:41.090Z"
}, {
  "id": "c73d688c-8632-11e7-b4d7-600308a19290",
  "author_id": "c73d688c-8632-11e7-b4d8-600308a19290",
  "type": "fitting_room",
  "name": "第二试衣间",
  "slug": "fitting_room_2",
  "status": "busy",
  "title": "",
  "description": "",
  "content": {
    "items": [{
      "product_id": "123123123",
      "title": "2017夏季连衣裙",
      "image_url": "http://img4.imgtn.bdimg.com/it/u=3570158983,3488252931&fm=214&gp=0.jpg",
      "orig_price": "800.0¥",
      "curr_price": "580.0¥",
      "attrs": [{
        "sku_id": "111",
        "name": "绿色|S",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3570158983,3488252931&fm=214&gp=0.jpg",
        "inventory": 5
      },{
        "sku_id": "222",
        "name": "绿色|M",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3570158983,3488252931&fm=214&gp=0.jpg",
        "inventory": 5
      },{
        "sku_id": "333",
        "name": "蓝色|M",
        "image_url": "http://d05.res.meilishuo.net/picdetail/a/7f/8f/d4662819b357ccc47b639991cdd0_602_716_1_1.ca.jpeg",
        "inventory": 8
      },{
        "sku_id": "444",
        "name": "蓝色|L",
        "image_url": "http://d05.res.meilishuo.net/picdetail/a/7f/8f/d4662819b357ccc47b639991cdd0_602_716_1_1.ca.jpeg",
        "inventory": 10
      },{
        "sku_id": "555",
        "name": "紫色|S",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3477647239,772378887&fm=26&gp=0.jpg",
        "inventory": 4
      },{
        "sku_id": "666",
        "name": "紫色|M",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3477647239,772378887&fm=26&gp=0.jpg",
        "inventory": 5
      },{
        "sku_id": "777",
        "name": "紫色|XL",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3477647239,772378887&fm=26&gp=0.jpg",
        "inventory": 10
      }]
    },{
      "product_id": "123123124",
      "title": "2017夏季连衣裙1",
      "image_url": "http://d05.res.meilishuo.net/picdetail/a/7f/8f/d4662819b357ccc47b639991cdd0_602_716_1_1.ca.jpeg",
      "orig_price": "800.0¥",
      "curr_price": "580.0¥",
      "attrs": [{
        "sku_id": "111",
        "name": "绿色|S",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3570158983,3488252931&fm=214&gp=0.jpg",
        "inventory": 5
      },{
        "sku_id": "222",
        "name": "绿色|M",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3570158983,3488252931&fm=214&gp=0.jpg",
        "inventory": 5
      },{
        "sku_id": "333",
        "name": "蓝色|M",
        "image_url": "http://d05.res.meilishuo.net/picdetail/a/7f/8f/d4662819b357ccc47b639991cdd0_602_716_1_1.ca.jpeg",
        "inventory": 8
      },{
        "sku_id": "444",
        "name": "蓝色|L",
        "image_url": "http://d05.res.meilishuo.net/picdetail/a/7f/8f/d4662819b357ccc47b639991cdd0_602_716_1_1.ca.jpeg",
        "inventory": 10
      },{
        "sku_id": "555",
        "name": "紫色|S",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3477647239,772378887&fm=26&gp=0.jpg",
        "inventory": 4
      },{
        "sku_id": "666",
        "name": "紫色|M",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3477647239,772378887&fm=26&gp=0.jpg",
        "inventory": 5
      },{
        "sku_id": "777",
        "name": "紫色|XL",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3477647239,772378887&fm=26&gp=0.jpg",
        "inventory": 10
      }]
    },{
      "product_id": "123123125",
      "title": "2017夏季连衣裙2",
      "image_url": "http://img4.imgtn.bdimg.com/it/u=3477647239,772378887&fm=26&gp=0.jpg",
      "orig_price": "800.0¥",
      "curr_price": "580.0¥",
      "attrs": [{
        "sku_id": "111",
        "name": "绿色|S",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3570158983,3488252931&fm=214&gp=0.jpg",
        "inventory": 5
      },{
        "sku_id": "222",
        "name": "绿色|M",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3570158983,3488252931&fm=214&gp=0.jpg",
        "inventory": 5
      },{
        "sku_id": "333",
        "name": "蓝色|M",
        "image_url": "http://d05.res.meilishuo.net/picdetail/a/7f/8f/d4662819b357ccc47b639991cdd0_602_716_1_1.ca.jpeg",
        "inventory": 8
      },{
        "sku_id": "444",
        "name": "蓝色|L",
        "image_url": "http://d05.res.meilishuo.net/picdetail/a/7f/8f/d4662819b357ccc47b639991cdd0_602_716_1_1.ca.jpeg",
        "inventory": 10
      },{
        "sku_id": "555",
        "name": "紫色|S",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3477647239,772378887&fm=26&gp=0.jpg",
        "inventory": 4
      },{
        "sku_id": "666",
        "name": "紫色|M",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3477647239,772378887&fm=26&gp=0.jpg",
        "inventory": 5
      },{
        "sku_id": "777",
        "name": "紫色|XL",
        "image_url": "http://img4.imgtn.bdimg.com/it/u=3477647239,772378887&fm=26&gp=0.jpg",
        "inventory": 10
      }]
    }]
  },
  "parent_id": "",
  "created_at": "2016-02-28T16:41:41.090Z",
  "updated_at": "2016-02-28T16:41:41.090Z",
  "published_at": "2016-02-28T16:41:41.090Z",
  "deleted_at": "2016-02-28T16:41:41.090Z"
},{
  "id": "ed48b300-8633-11e7-9e67-600308a19290",
  "author_id": "c73d688c-8632-11e7-b4d8-600308a19290",
  "type": "fitting_room",
  "name": "第三试衣间",
  "slug": "",
  "status": "broken",
  "title": "",
  "description": "",
  "content": {"items": [

  ]},
  "parent_id": "",
  "created_at": "2016-02-28T16:41:41.090Z",
  "updated_at": "2016-02-28T16:41:41.090Z",
  "published_at": "2016-02-28T16:41:41.090Z",
  "deleted_at": "2016-02-28T16:41:41.090Z"
}]
